<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="ProyectoEntities" connectionString="metadata=res://*/ModeloEntidad.csdl|res://*/ModeloEntidad.ssdl|res://*/ModeloEntidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACarlosSantaLucia.mssql.somee.com;initial catalog=ACarlosSantaLucia;persist security info=False;user id=rwkama60_SQLLogin_1;password=7ch5noj95a;packet size=4096;application name=EntityFramework;workstation id=ACarlosSantaLucia.mssql.somee.com;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>